[*.py]
indent_style = space
indent_size = 4
max_line_length = 150

[{*.h,*.cpp,*.c}]
indent_style = space
indent_size = 4
max_line_length = 150

[*.ts]
indent_style = space
indent_size = 4
max_line_length = 150
