__pycache__
*.pyc
*.pyo
/.idea
/venv/
/wireguard-sync/venv/
/node_modules/
/package-lock.json
/tmp/
/.mypy_cache/
config*.json
config*.yaml
**/.env
**/.env.*
!**/.env.example
/wireguard-sync/keystore
