---

databases:
  postgres:
    # Leave server empty to use local socket
    server: ''
    port: 5432
    username: ''
    password: ''
    database: saarctf
  redis:
    host: localhost
    port: 6379
    db: 0
    # password: "..."
  rabbitmq:
    host: localhost
    port: 5672
    vhost: saarctf
    username: saarctf
    password: '123456789'

# remote services
website_team_url: "..."
website_logo_url: "..."
flower_url: http://localhost:5555/
# flower_internal_url: http://127.0.0.1:20000/
# flower_ajax_url: /flower/
coder_url: ''
scoreboard_url: ''
grafana_url: ''

# paths
scoreboard_path: "/dev/shm/scoreboard"
# scoreboard_path_internal: "/dev/shm/scoreboard-internal"  # not affected by scoreboard freeze
vpnboard_path: "/dev/shm/vpnboard"
checker_packages_path: "/dev/shm/packages"
patches_path: "/dev/shm/patches"
patches_public_path: "/dev/shm/patches-webroot"

# Setup
external_timer: false  # false for local test setup without dedicated ctftimer script, true for production setup
tick_duration_default: 120
environment: dev  # use "intern" or "dev" to add a visual tag, null to remove tags. Run "npm run build" to apply.

# Flags / scoring
secret_flags: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
flag_prefix: SAAR  # must be exactly 4 letters
scoring:
  flags_rounds_valid: 10
  nop_team_id: 1
  off_factor: 1
  def_factor: 1
  sla_factor: 1
  # algorithm: "saarctf:SaarctfScoreAlgorithm"  # if you define alternate algorithms

# Do not update results after a certain tick (except on "internal" scoreboard)
# this is the last tick that's completely published, every tick afterwards will keep this tick's results
# scoreboard_freeze: 30

runner:
  dispatcher: dispatcher:CeleryDispatcher
  eno:
    check_past_ticks: 5
    timeout: 15  # in seconds

# List of (saarctf-style) services for auto-deployment on servers
service_remotes:
  - ssh://git@gitlab.saarsec.rocks:2222/...

# Network configuration
dispatcher_check_vpn_status: true

network:
  game: 10.32.0.0/15
  # IP syntax: [a, b, c, d]
  # where each component is either:
  # - number
  # - list ["x", "y", "z"]  =  ((team_id / x) mod y) + z
  vulnbox_ip: [127, [200, 256, 0], [1, 200, 0], 2]
  gateway_ip: [127, [200, 256, 0], [1, 200, 0], 1]
  testbox_ip: [127, [200, 256, 0], [1, 200, 0], 3]
  # same as IP syntax, but with fith component for range
  team_range: [127, [200, 256, 0], [1, 200, 0], 0, 24]
  vpn_host: 10.32.250.1
  vpn_peer_ips: [10, [200, 256, 48], [1, 200, 0], 1]  # not necessary for wireguard
  gameserver_ip: 10.32.250.2
  gameserver_range: 10.32.250.0/24

wireguard_sync:
  api_server: https://ctf.saarland
  api_token: "..."

ctfroute_namespace: cte25
