name: gameserver

# - copy "config.docker.yaml" to "config.yaml" and adjust
# - copy .env.example to .env and adjust

volumes:
  postgres:
  redis:
  public-scoreboard:
  internal-scoreboard:

x-gameserver-common-env: &gameserver-common-env
  POSTGRES_SERVER: ${POSTGRES_SERVER}
  POSTGRES_PORT: ${POSTGRES_PORT}
  POSTGRES_DATABASE: ${POSTGRES_DB}
  POSTGRES_USERNAME: ${POSTGRES_USER}
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  REDIS_HOST: ${REDIS_HOST}
  REDIS_PORT: ${REDIS_PORT}
  REDIS_DB: ${REDIS_DB}
  REDIS_PASSWORD: ${REDIS_PASSWORD}
  RABBITMQ_HOST: ${RABBITMQ_HOST}
  RABBITMQ_PORT: ${RABBITMQ_PORT}
  RABBITMQ_VHOST: ${RABBITMQ_DEFAULT_VHOST}
  RABBITMQ_USERNAME: ${RABBITMQ_DEFAULT_USER}
  RABBITMQ_PASSWORD: ${RABBITMQ_DEFAULT_PASS}
  SECRET_FLAG_KEY: ${SECRET_FLAG_KEY}
  CONFIG_FILE: ${CONFIG_FILE}
  SCOREBOARD_PATH: ${PUBLIC_SCOREBOARD_PATH}
  SCOREBOARD_PATH_INTERNAL: ${INTERNAL_SCOREBOARD_PATH}

networks:
  default:
    driver_opts:
      # Gameserver containers make use of some k3s services
      # These are accessed over the cilium network - the wg interface has a lower MTU
      # 1290 ensures connectivity to remote services without fragmentation
      com.docker.network.driver.mtu: 1290

services:
  postgres:
    image: postgres:17.2
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - postgres:/var/lib/postgresql/data
    restart: unless-stopped
    profiles:
      - donotstart
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 1s
      retries: 30

  rabbitmq:
    image: rabbitmq:4.0-management
    environment:
      - RABBITMQ_DEFAULT_USER
      - RABBITMQ_DEFAULT_PASS
      - RABBITMQ_DEFAULT_VHOST
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 3s
      retries: 30
    restart: "unless-stopped"

  redis:
    image: redis:7.4-alpine
    command:
      - redis-server
      - --save
      - "60"
      - "1"
      - --loglevel
      - warning
      - --requirepass
      - ${REDIS_PASSWORD}
    volumes:
      - redis:/data
    restart: "unless-stopped"
    ports:
      - "127.0.0.1:6379:6379"

  submitter:
    image: "${IMAGE_REGISTRY}/gameserver/submitter"
    build: flag-submission-server
    environment:
      POSTGRES_SERVER: ${POSTGRES_SERVER}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DATABASE: ${POSTGRES_DB}
      POSTGRES_USERNAME: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DATABASE: ${REDIS_DB}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      CONFIG_SECRET_FLAGS: ${SECRET_FLAG_KEY}
    volumes:
      - ./config.yaml:/config.yaml:ro
    ports:
      - 1337:31337
    ulimits:
      nofile: 16384
    restart: "unless-stopped"
    depends_on:
      migrate:
        condition: service_completed_successfully
      redis:
        condition: service_started
        restart: true

  submitter_telegraf:
    image: "telegraf"
    volumes:
      - "./telegraf.submitter.conf:/etc/telegraf/telegraf.conf:ro"
    environment:
      PG_SERVER: ${TIMESCALE_SERVER}
      PG_USERNAME: ${TIMESCALE_USER}
      PG_PASSWORD: ${TIMESCALE_PASSWORD}
      PG_DATABASE_METRICS: ${TIMESCALE_DB}
    network_mode: "service:submitter"

  cp:
    image: "${IMAGE_REGISTRY}/gameserver/controlpanel"
    build:
      context: .
    environment:
      <<: *gameserver-common-env
    volumes:
      - ./kube.config:/root/.kube/config:ro
      - ./config.yaml:${CONFIG_FILE}:ro
      - public-scoreboard:${PUBLIC_SCOREBOARD_PATH}
      - internal-scoreboard:${INTERNAL_SCOREBOARD_PATH}
    ports:
      - 5000:5000
    command:
      [
        "-m",
        "gunicorn",
        "--bind",
        "0.0.0.0:5000",
        "--access-logfile",
        "/dev/stderr",
        "--error-logfile",
        "/dev/stderr",
        "--log-level",
        "debug",
        "controlserver.wsgi:app",
      ]
    restart: "unless-stopped"
    depends_on:
      migrate:
        condition: service_completed_successfully
      redis:
        condition: service_started

  timer:
    image: "${IMAGE_REGISTRY}/gameserver/controlpanel"
    build:
      context: .
    environment:
      <<: *gameserver-common-env
    volumes:
      - ./config.yaml:${CONFIG_FILE}:ro
      - public-scoreboard:${PUBLIC_SCOREBOARD_PATH}
      - internal-scoreboard:${INTERNAL_SCOREBOARD_PATH}
    command: ["controlserver/master_timer.py"]
    ulimits:
      nofile: 16384
    restart: "unless-stopped"
    depends_on:
      migrate:
        condition: service_completed_successfully
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy
        restart: true

  migrate:
    image: "${IMAGE_REGISTRY}/gameserver/controlpanel"
    build:
      context: .
    environment:
      <<: *gameserver-common-env
    volumes:
      - ./config.yaml:${CONFIG_FILE}:ro
    command: ["-m", "alembic", "upgrade", "head"]

  checker:
    image: "${IMAGE_REGISTRY}/gameserver/controlpanel"
    build:
      context: .
    environment:
      <<: *gameserver-common-env
    volumes:
      - ./config.yaml:${CONFIG_FILE}:ro
    command:
      [
        "-m",
        "celery",
        "-A",
        "checker_runner.celery_cmd",
        "worker",
        "-Ofair",
        "-E",
        "-Q",
        "celery,tests,broadcast",
        "-P",
        "threads",
        "--concurrency=${CHECKER_CONCURRENCY}",
      ]
    deploy:
      replicas: 8
    ulimits:
      nofile: 65536
      nproc: 65536
    stop_grace_period: 1m # let started checker tasks finish gracefully
    restart: "unless-stopped"
    depends_on:
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy

  scripts:
    image: "${IMAGE_REGISTRY}/gameserver/controlpanel"
    profiles:
      - donotstart
    build:
      context: .
    environment:
      <<: *gameserver-common-env
    volumes:
      - ./config.yaml:${CONFIG_FILE}:ro
      - ./services.json:/var/services.json:ro
    command: ["sh"]

  # scoreboard "host", not the scoreboard daemon for off-site scoreboard generation
  # in this setting, the scoreboard is generated by the ctftimer, and written to a volume
  scoreboard:
    image: nginx
    volumes:
      - ./nginx.default.conf:/etc/nginx/conf.d/default.conf:ro
      - internal-scoreboard:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
    restart: "unless-stopped"
