flask<3
flask_admin
sqlalchemy<2
alembic
psycopg2-binary
redis
celery[amqp,redis]>=5.3, <6
flower>=2, <3
setproctitle
filelock
ujson
htmlmin
requests
Pillow
hcloud>=1.16.0
aiohttp>=3.11.7
python-dotenv
pyroute2
cryptography>=43.0.3
filelock
ecs-logging
pyyaml
typing-extensions  # for typing.override - drop when we have min 3.12
