flask
flask_sqlalchemy
flask_admin
sqlalchemy
Flask-Migrate
Flask-APScheduler
psycopg2-binary
redis
celery==4.4.6
celery[redis]==4.4.6
flower<1.0.0
setproctitle
filelock
ujson
htmlmin
requests
Pillow
influxdb
hcloud>=1.16.0
