<table class="table table-bordered" [class.hideHistory]="!ui.showHistory" [class.onlySums]="ui.showOnlySums">
	<thead>
	<tr>
		<th colspan="3" class="headercell">
			<h4>
				Results from:
				<a class="btn btn-link" (click)="showTick(shownTick-1)" title="Previous tick"
				   *ngIf="shownTick > 0"><i class="fas fa-chevron-left"></i></a>
				Tick {{info.tick < 0 ? '0' : info.tick }}
				<a class="btn btn-link" (click)="showTick(shownTick+1)" title="Next tick"
				   *ngIf="shownTick < backend.currentState.scoreboard_tick"><i class="fas fa-chevron-right"></i></a>
				<a class="btn btn-link" (click)="showTick(backend.currentState.scoreboard_tick)" title="Go to current tick"
				   *ngIf="shownTick < backend.currentState.scoreboard_tick"><i class="fas fa-fast-forward"></i></a>

				<span *ngIf="shownTick != info.tick" class="fas fa-spinner fa-spin"></span>
			</h4>
		</th>
		<!-- service cell -->
		<td *ngFor="let service of info.services; trackBy indexTrack" class="servicecell">
			<p><strong>{{service.name}}</strong></p>
			<p class="attacker-victim-count">
				<i class="fas fa-crosshairs"></i> {{service.attackers + (service.attackers != 1 ? '  attackers' : '  attacker')}}<br>
				<i class="fas fa-shield-alt"></i> {{service.victims + (service.victims != 1 ? '  victims' : '  victim')}}
				<span *ngIf="service.first_blood.length" title="First Blood"><br/><i
						class="fas fa-tint"></i> {{service.first_blood.join(', ')}}</span>
				<small *ngIf="service.flag_stores_exploited > 0 && service.flag_stores_exploited < service.flag_stores"
					   [title]="'This services stores flags in '+service.flag_stores+' different locations or flags of '+service.flag_stores+' different types. Only '+service.flag_stores_exploited+' flag stores / types have been exploited so far.'">
					<br/>
					{{ service.flag_stores - service.flag_stores_exploited }}
					flag store<ng-container *ngIf="service.flag_stores - service.flag_stores_exploited != 1">s</ng-container> unexploited
				</small>
			</p>
		</td>
	</tr>
	</thead>
	<tbody>
	<ng-container *ngFor="let rank of info.scoreboard; trackBy: teamTrackBy">
		<tr *ngIf="backend.teams[rank.team_id]">
			<!-- Team row -->
			<td class="rankcell"><h4>{{rank.rank}}</h4></td>
			<td class="teamcell">
				<div class="media-left team-logo-media" *ngIf="ui.showImages">
					<img class="media-object" [src]="'logos/'+backend.teams[rank.team_id].logo" alt="" loading="lazy">
				</div>
				<div class="media-body">
					<h4 class="team-name">
						{{backend.teams[rank.team_id].name}}
						<button type="button" *ngIf="backend.teams[rank.team_id].aff || backend.teams[rank.team_id].web"
								class="btn btn-xs btn-link info-link" triggers="focus"
								[popover]="'Affiliation: '+(backend.teams[rank.team_id].aff||'-')+'; Website: '+(backend.teams[rank.team_id].web || '-')">
							<span class="fas fa-info"></span>
						</button>
					</h4>
					<span class="team-vulnbox">{{backend.teams[rank.team_id].vulnbox}}</span><br>
					<span class="team-total-points">
						<i class="fas fa-chart-line"></i>&nbsp;{{rank.points.toFixed(1)}}
						<span class="delta"><small title="New points this tick">({{floatToString(rank.do + rank.dd + rank.ds)}})</small></span>
					</span>
				</div>
			</td>
			<td>
				<div class="sum-container">
					<i class="fas fa-crosshairs"></i>
					<span title="Offensive points" class="text-nowrap points">{{rank.o.toFixed(1)}}</span>
					<i class="fas fa-shield-alt"></i>
					<span title="Defensive points" class="text-nowrap points">{{rank.d.toFixed(1)}}</span>
					<i class="fas fa-tachometer-alt"></i>
					<span title="SLA points" class="text-nowrap points">{{rank.s.toFixed(1)}}</span>
				</div>
			</td>
			<td *ngFor="let service_rank of rank.services; trackBy indexTrack">
				<div class="result-container">
					<!-- Team/Service cell -->
					<i class="fas fa-chart-line sum-mode-only"></i>
					<div title="Points" class="text-nowrap points sum-mode-only">
						{{(service_rank.o + service_rank.d + service_rank.s).toFixed(1)}}
					</div>
					<span class="delta sum-mode-only"><small title="New points this tick">
						({{floatToString(service_rank.do + service_rank.dd + service_rank.ds)}})
					</small></span>
					<i class="fas fa-flag sum-mode-only" title="Captured / stolen flags"></i>
					<div title="Captured / stolen flags" class="text-nowrap sum-mode-only">{{service_rank.cap}} / -{{service_rank.st}}</div>
					<span class="delta sum-mode-only"><small title="Captured flags last tick">
						(+{{service_rank.dcap}}/-{{service_rank.dst}})
					</small></span>

					<i class="fas fa-crosshairs not-in-sum-mode"></i>
					<div title="Offensive points" class="text-nowrap points not-in-sum-mode">{{service_rank.o.toFixed(1)}}</div>
					<span class="delta not-in-sum-mode"><small title="New offensive points this tick">({{floatToString(service_rank.do)}}
						)</small></span>
					<i class="fas fa-flag offset-left not-in-sum-mode" title="Captured flags"></i>
					<div title="Captured flags" class="text-nowrap not-in-sum-mode">{{service_rank.cap}}</div>
					<span class="delta not-in-sum-mode"><small title="Captured flags last tick">(+{{service_rank.dcap}})</small></span>

					<i class="fas fa-shield-alt not-in-sum-mode"></i>
					<div title="Defensive points" class="text-nowrap points not-in-sum-mode">{{service_rank.d.toFixed(1)}}</div>
					<span class="delta not-in-sum-mode"><small title="Lost defensive points this tick">
						({{floatToString(service_rank.dd, true)}})
					</small></span>
					<i class="fas fa-flag-checkered offset-left not-in-sum-mode" title="Lost flags"></i>
					<div title="Lost flags" class="text-nowrap not-in-sum-mode">-{{service_rank.st}}</div>
					<span class="delta not-in-sum-mode"><small title="Lost flags last tick">(-{{service_rank.dst}})</small></span>

					<i class="fas fa-tachometer-alt not-in-sum-mode"></i>
					<div title="SLA points" class="text-nowrap points not-in-sum-mode">{{service_rank.s.toFixed(1)}}</div>
					<span class="delta not-in-sum-mode"><small title="New SLA points this tick">({{floatToString(service_rank.ds)}})</small></span>
					<div class="sla-col offset-left">
						<span class="label history-3" *ngIf="service_rank.dc.length > 2"
							  [ngClass]="statusToClass(service_rank.dc[2])"
							  [title]="'Tick '+(info.tick-3)+': '+statusToTooltip(service_rank.dc[2])"></span>
						<span class="label history-2" *ngIf="service_rank.dc.length > 1"
							  [ngClass]="statusToClass(service_rank.dc[1])"
							  [title]="'Tick '+(info.tick-2)+': '+statusToTooltip(service_rank.dc[1])"></span>
						<span class="label history-1" *ngIf="service_rank.dc.length > 0"
							  [ngClass]="statusToClass(service_rank.dc[0])"
							  [title]="'Tick '+(info.tick-1)+': '+statusToTooltip(service_rank.dc[0])"></span>

						<span class="status label" [ngClass]="statusToClass(service_rank.c)"
							  [title]="statusToTooltip(service_rank.c)">{{statusToText(service_rank.c)}}</span>

						<button type="button" class="btn btn-xs btn-link info-link" *ngIf="service_rank.m"
								[popover]="service_rank.m" triggers="focus" [popoverTitle]="'Tick '+info.tick+': '+service_rank.c">
							<span class="fas fa-info"></span>
						</button>
					</div>
				</div>
			</td>
		</tr>
	</ng-container>
	</tbody>
</table>
