<table class="table table-bordered table-stickyhead" [class.hideHistory]="!ui.showHistory" [class.onlySums]="ui.showOnlySums">
  <thead>
    <tr>
      <th colspan="3" class="headercell">
        <h4>
          {{info.tick < 0 ? 'No results yet' : 'Results from:'}}
          @if (shownTick > 0) {
            <a class="btn btn-link" (click)="showTick(1)" title="Go to first tick"
              ><i class="fas fa-fast-backward"></i></a>
            }
            @if (shownTick > 0) {
              <a class="btn btn-link" (click)="showTick(shownTick-1)" title="Previous tick"
                ><i class="fas fa-chevron-left"></i></a>
              }
              {{info.tick < 0 ? '' : 'Tick ' + info.tick}}
              @if (shownTick < backend.currentState.scoreboard_tick) {
                <a class="btn btn-link" (click)="showTick(shownTick+1)" title="Next tick"
                  ><i class="fas fa-chevron-right"></i></a>
                }
                @if (shownTick < backend.currentState.scoreboard_tick) {
                  <a class="btn btn-link" (click)="showTick(backend.currentState.scoreboard_tick)" title="Go to current tick"
                    ><i class="fas fa-fast-forward"></i></a>
                  }

                  @if (shownTick != info.tick) {
                    <span class="fas fa-spinner fa-spin"></span>
                  }
                </h4>
              </th>
              <!-- service cell -->
              <app-table-service-header-cell [services]="info.services"></app-table-service-header-cell>
            </tr>
          </thead>
          <tbody>
            @for (rank of info.scoreboard; track teamTrackBy($index, rank)) {
              @if (backend.teams[rank.team_id]) {
                <tr>
                  <!-- Team row -->
                  <td class="rankcell"><h4>{{rank.rank}}</h4></td>
                  <td class="teamcell">
                    @if (ui.showImages) {
                      <div class="media-left team-logo-media">
                        <a [routerLink]="['team', rank.team_id]" [attr.aria-label]="backend.teams[rank.team_id].name + ' Details'">
                          <img class="media-object" [src]="'logos/'+backend.teams[rank.team_id].logo" alt="" loading="lazy">
                        </a>
                      </div>
                    }
                    <div class="media-body">
                      <h4 class="team-name" [class.blocked]="backend.bannedTeams[rank.team_id]">
                        <a [routerLink]="['team', rank.team_id]" [title]="backend.bannedTeams[rank.team_id] ? 'Network access is currently blocked. Please contact the organizers in IRC!' : backend.teams[rank.team_id].name + ' - See team\'s details'">{{backend.teams[rank.team_id].name}}</a>
                        @if (backend.teams[rank.team_id].aff || backend.teams[rank.team_id].web) {
                          <button type="button"
                            class="btn btn-xs btn-link info-link" triggers="focus"
                            container="div.container-fluid.flexible-container"
                            [popover]="'Affiliation: '+(backend.teams[rank.team_id].aff||'-')+'; Website: '+(backend.teams[rank.team_id].web || '-')"
                            aria-label="Team Infos">
                            <span class="fas fa-info"></span>
                          </button>
                        }
                      </h4>
                      <span class="team-vulnbox">{{backend.teams[rank.team_id].vulnbox}}</span><br>
                      <span class="team-total-points">
                        <i class="fas fa-chart-line"></i>&nbsp;{{rank.points.toFixed(1)}}
                        <span class="delta"><small title="New points this tick">({{floatToString(rank.do + rank.dd + rank.ds)}})</small></span>
                      </span>
                    </div>
                  </td>
                  <tablelinecells [rank]="rank" [tick]="info.tick"></tablelinecells>
                </tr>
              }
            }
          </tbody>
        </table>
