{% extends "base.html" %}
{% from 'pagination.html' import paginator, paginator_script, filter_checkbox_list, filter_options %}

{% block title %}Services{% endblock %}

{% block content %}
    <div ng-controller="Packages2Controller" ng-cloak>
        <div class="alert alert-info" ng-repeat="message in messageList track by $index" class="col-sm-12">
            {% raw %}
                <pre>{{ message }}</pre>
            {% endraw %}
        </div>

        <div class="form-inline d-flex justify-content-between g-1 mb-3">
            <div class="form-group">
                <label for="testTeamSelect">test team</label>
                <select class="form-control team-select" ng-model="testTeam" id="testTeamSelect">
                    {% for team in teams %}
                        <option value="{{ team.id }}" {{ 'selected="selected"'|safe if team.name=='NOP' else '' }}>
                            {{ team.name }} ({{ team.vulnbox_ip }})
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button ng-click="deployAllUpdates()" class="btn btn-default">
                    <span class="glyphicon glyphicon-forward"></span> Deploy all updates
                </button>
                <button ng-click="preloadAllCheckers()" class="btn btn-default"
                        title="Preload all deployed checker scripts on all connected workers">
                    Preload all
                </button>
                <button ng-click="cloneAll()" class="btn {% if services %}btn-default{% else %}btn-primary{% endif %}"
                        title="Clone/pull all services from git and initialize them">
                    Pull all
                </button>
            </div>
        </div>

        <table class="table table-striped table-middle">
            <thead>
            <tr>
                <th>ID / Name</th>
                <th>Checker Script</th>
                <th class="text-center">Checker<br/>Status</th>
                <th>Flags</th>
                <th>First Blood</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <th>{{ service.id }}<br/>{{ service.name }}</th>
                    <td>
                        {% if service.checker_runner %}
                            <small><code>{{ service.checker_runner }}</code></small>
                            {% if service.runner_config %}
                                <br><small><code>{{ service.runner_config | tojson }}</code></small>
                            {% endif %}
                        {% else %}
                            <small><code>{{ service.checker_script_dir }}</code></small>
                            <br/>
                            <small><code>{{ service.checker_script }}</code></small>
                        {% endif %}
                        <br/>
                        Timeout: {{ service.checker_timeout }} sec
                        {% if service.checker_script_dir %}
                            <br/>
                            <button class="btn btn-default btn-xs" title="Run new checker against NOP team"
                                    ng-click="testScript({{ service.id }}, testTeam)">
                                <span class="glyphicon glyphicon-play"></span> test
                            </button>
                            <button class="btn btn-default btn-xs" title="Deploy new checker"
                                    ng-click="deployOne({{ service.id }})">
                                <span class="glyphicon glyphicon-forward"></span> deploy
                            </button>
                            <div class="d-flex flex-wrap g-1 gx-3 mt-1" ng-if="testResults[{{ service.id }}]">
                                <div ng-repeat="result in testResults[{{ service.id }}]">
                                    {% raw %}
                                        <span class="badge">{{ result.time | date:'HH:mm:ss' }}</span>
                                        <a ng-href="{{ CHECKER_RESULT_URL+result.result_id }}" target="_blank">
                                            Test #{{result.result_id }}
                                        </a>
                                        <small>
                                            <a ng-href="{{ FLOWER_URL+'task/'+result.task }}" target="_blank">
                                                &#x2698;
                                            </a>
                                            : {{ result.message }}
                                        </small>
                                    {% endraw %}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if service.checker_enabled %}
                            <span class="label label-success">on</span><br/>
                            <a href="#" class="btn btn-sm btn-link"
                               onclick="setCheckerStatus({{ service.id }}, false); return false;">(disable)</a>
                        {% else %}
                            <span class="label label-danger">off</span><br/>
                            <a href="#" class="btn btn-sm btn-link"
                               onclick="setCheckerStatus({{ service.id }}, true); return false;">(enable)</a>
                        {% endif %}
                    </td>
                    <td class="nowrap">
                        {{ '{:.3g}'.format(service.flags_per_tick) }}&nbsp;flag{% if service.flags_per_tick != 1 %}
                        s{% endif %}/tick<br/>
                        {{ '' if service.flag_ids else 'no ' }} flag ids
                    </td>
                    <td>
                        <div class="d-flex flex-column g-2">
                            {% for flag in first_bloods[service.id] %}
                                <div>
                                    {% if service.num_payloads %}[flag #{{ flag.payload }}]: {% endif %}
                                    {{ flag.ts.strftime('%H:%M:%S') }} (tick {{ flag.tick_submitted }}):<br/>
                                    <strong>{{ flag.submitted_by_team.name }}</strong>
                                    {% if flag.is_firstblood > 1 %}
                                        <small>(from {{ flag.victim_team.name }} and {{ flag.is_firstblood - 1 }}
                                            others)</small>
                                    {% else %}
                                        <small>(from {{ flag.victim_team.name }})</small>
                                    {% endif %}
                                </div>
                            {% else %}
                                <span class="text-muted">-</span>
                            {% endfor %}
                            {% if service.num_payloads %}
                                <span class="text-muted">({{ service.num_payloads - (first_bloods[service.id] |length) }} flags remaining)</span>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}

{% block footer %}
    <script src="{{ url_for('static', filename='vendor/js/jquery.js') }}"></script>
    <script>
        const FLOWER_URL = {{ flower_url|tojson|safe }};
        const CHECKER_RESULT_URL = {{ url_for('checker_results.checker_results_view', id='123456789') |tojson|safe }};

        function setCheckerStatus(id, status) {
            if (!status && !confirm('Do you really want to disable the checking of service #' + id + '?'))
                return;
            $.post({{ url_for('services.services_set_checker_status') |tojson }}, {
                id: id,
                status: status ? 1 : 0
            }).then(function () {
                window.location.href = location.href;
            });
        }
    </script>
    <script src="{{ url_for('static', filename='vendor/js/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='js/packages2.js') }}"></script>
{% endblock %}
