@import "../../variables.less";

p {
	margin: 5px 0;
}

.servicecell {
	text-align: center;

	.attacker-victim-count {
		display: inline-block;
		text-align: left;

		.fa-tint {
			padding-left: 1px;
			padding-right: 1px;
		}
	}
}