<p *ngIf="currentTick === null || currentRoundInfo === null || loading > 0" class="lead">
    <span class="fas fa-spinner fa-spin"></span>
</p>

<div class="chart-group" *ngFor="let chart of teamChartDatas">
    <h3>{{ chart.title }}</h3>
    <div class="chart-container">
        <canvas baseChart #teamCharts
                [data]="chart.chart"
                [options]="chartOptions"
                [type]="'line'">
        </canvas>
    </div>
</div>

<div class="chart-group" *ngFor="let chart of serviceChartDatas">
    <h3>{{ chart.title }}</h3>
    <div class="chart-container">
        <canvas baseChart #serviceCharts
                [data]="chart.chart"
                [options]="chartOptions"
                [type]="'line'">
        </canvas>
    </div>
</div>