{% raw %}
<div class="panel panel-default" ng-controller="VPNController" ng-cloak>
	<div class="panel-heading">
		<button class="btn btn-default btn-xs pull-right" ng-click="updateComponents()"><span class="glyphicon glyphicon-refresh"></span>
		</button>
		VPN Control
	</div>
	<div class="panel-body">
        <div class="clearfix">
            <span class="label label-success" ng-if="state == 'on'">Network open</span>
            <span class="label label-warning" ng-if="state == 'team'" title="Access to vulnbox is possible, but not to other teams">Network open within teams</span>
            <span class="label label-success" ng-if="state == 'team'" title="Access to vulnbox is possible, but not to other teams">vulnbox open</span>
            <span class="label label-warning" ng-if="state == 'team-no-vulnbox'" title="Access to own team, but no vulnbox nor other teams">Network open within teams</span>
            <span class="label label-danger" ng-if="state == 'team-no-vulnbox'" title="Access to own team, but no vulnbox nor other teams">vulnbox closed</span>
            <span class="label label-danger" ng-if="state == 'off'">Network closed</span>
            <form class="form-inline pull-right" ng-submit="setState(newvpnstate)">
                <select class="form-control" ng-model="newvpnstate">
                    <option value="on">Open</option>
                    <option value="team">open within teams only</option>
                    <option value="team-no-vulnbox">open within teams, no vulnbox access</option>
                    <option value="off">Closed</option>
                </select>
                <button type="submit" class="btn btn-default">Set</button>
            </form>
        </div>

        <p>
            <span ng-if="openVulnboxAccessAt"><br/>
                <span class="glyphicon glyphicon-play"></span> Vulnbox Access: {{ openVulnboxAccessAt | newDate | date:'dd.MM.yyyy HH:mm:ss' }}
                (in {{ openVulnboxAccessAt - serverTime |interval }})
                <a ng-click="setOpenVulnboxAccessAt(null)" class="btn btn-link btn-xs">&times;</a>
            </span>
        </p>
        <form class="form-horizontal" ng-if="!hideControls">
			<div class="form-group">
				<label class="col-sm-4 control-label" title="CTF starts at this time">Set vulnbox access</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<input type="text" class="form-control" placeholder="Access time" ng-model="openVulnboxAccessAtTmp" bs-datepicker>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
						<span class="input-group-btn">
                            <button class="btn btn-default" type="submit" ng-click="setOpenVulnboxAccessAt(openVulnboxAccessAtTmp)">Set</button>
                        </span>
					</div>
				</div>
			</div>
		</form>

		<br ng-if="!hideControls"/>
		<canvas class="chart chart-line" width="21" height="10" id="graph1" ng-show="graph_bytes"></canvas>
		<canvas class="chart chart-line" width="21" height="10" id="graph2" ng-show="graph_bytes_2"></canvas>
		<canvas class="chart chart-line" width="21" height="10" id="graph3" ng-show="graph_connections"></canvas>

		<br/>
		<br/>

		<dl class="dl-horizontal dl-horizontal-wide">
			<dt># Teams connected</dt>
			<dd>{{ teams_online }}</dd>
			<dt># Teams disconnected</dt>
			<dd>{{ teams_online_once }}</dd>
			<dt># Teams never connected</dt>
			<dd>{{ teams_offline }}</dd>
		</dl>

		<br/>

		<p ng-if="banned.length == 0">No teams are banned.</p>
		<p ng-if="banned.length > 0"><strong>Banned teams:</strong></p>
		<ul ng-if="banned.length > 0">
			<li ng-repeat="team in banned">
				#{{ team.id }} {{ team.name }}
				<small>({{ team.network }})</small>
				<span ng-if="team.tick">until tick {{ team.tick }}</span>
				&nbsp;&nbsp;
				<button class="btn btn-xs btn-default" title="Forgive / remove ban" ng-click="unban(team.id)">&times;</button>
			</li>
		</ul>
		<br ng-if="banned.length > 0">

		<form class="form-horizontal" ng-submit="ban(banteam, bantick)" ng-if="!hideControls">
			<p><strong>Ban team</strong></p>
			<div class="form-group">
				<div class="col-sm-7">
					<select class="form-control" ng-model="banteam" required>
						{% endraw %}
						{% for team in teams %}
							<option value="{{ team.id }}">#{{ team.id }} {{ team.name }}</option>
						{% endfor %}
						{% raw %}
					</select>
				</div>
				<div class="col-sm-3">
					<input type="number" class="form-control" placeholder="until tick" ng-model="bantick">
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" type="submit">Ban</button>
				</div>
			</div>
		</form>

		<form class="form-horizontal" ng-submit="add_permission(permteam)" ng-if="!hideControls">
			<p><strong>Allow network for team</strong></p>
			<div class="form-group">
				<div class="col-sm-7">
					<select class="form-control" ng-model="permteam" required>
						{% endraw %}
						{% for team in teams %}
							<option value="{{ team.id }}">#{{ team.id }} {{ team.name }}</option>
						{% endfor %}
						{% raw %}
					</select>
				</div>
				<div class="col-sm-3"></div>
				<div class="col-sm-2">
					<button class="btn btn-default" type="submit">Open</button>
				</div>
			</div>
		</form>

		<p ng-if="permissions.length > 0"><strong>Teams with open network:</strong></p>
		<ul ng-if="permissions.length > 0">
			<li ng-repeat="team in permissions">
				#{{ team.id }} {{ team.name }}
				<small>({{ team.network }})</small>
				&nbsp;&nbsp;
				<button class="btn btn-xs btn-default" title="Close network again" ng-click="remove_permission(team.id)">&times;</button>
			</li>
		</ul>
		<br ng-if="banned.length > 0">
	</div>
</div>
{% endraw %}
