{% raw %}
<div class="panel panel-default" ng-controller="FlowerController" ng-cloak ng-show="connected">
	<div class="panel-heading">
		<button class="btn btn-default btn-xs pull-right" ng-click="updateComponents(); updateConcurrency()"><span class="glyphicon glyphicon-refresh"></span>
		</button>
		Celery Workers
	</div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Worker</th>
			<th>Status</th>
			<th>#Processes</th>
			<th>Tasks <br/>(active / total)</th>
			<th>Load Avg.</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="worker in workers">
			<td>{{ worker.hostname }}</td>
			<td>
				<span class="label label-success" ng-if="worker.status">online</span>
				<span class="label label-danger" ng-if="!worker.status">offline</span>
			</td>
			<td>{{ concurrency[worker.hostname] || '?' }}</td>
			<td>{{ worker.active }} / {{ worker['task-started'] }}</td>
			<td>{{ worker.loadavg[0].toFixed(1) }}, {{ worker.loadavg[1].toFixed(1) }}, {{ worker.loadavg[2].toFixed(1) }}</td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="4" class="text-muted">{{ online }} / {{ workers.length }} workers online.</td>
		</tr>
		</tfoot>
	</table>
</div>
{% endraw %}
