<div class="current-tick">
  @if (backend.currentState.current_tick >= 0) {
    <p class="tick">Tick {{backend.currentState.current_tick}}</p>
  }
  <p class="time">
    &nbsp;
    @if (currentTime > 0 && (backend.currentState.state == GameStates.RUNNING || backend.currentState.current_tick < 0)) {
      <span>
        {{formatRemainingTime(currentTime)}}
      </span>
    }
    @if (backend.currentState.frozen) {
      <span class="label label-info" title="Points are no longer updated. You can still see your service status.">❄ frozen</span>
    }
    @if (backend.currentState.state == GameStates.SUSPENDED) {
      <span class="label label-warning">game suspended</span>
    }
    @if (backend.currentState.state == GameStates.STOPPED && backend.currentState.current_tick > 0) {
      <span class="label label-success">game is over</span>
    }
    @if (backend.currentState.state == GameStates.STOPPED && backend.currentState.current_tick <= 0) {
      <span class="label label-danger">not started</span>
    }
  </p>
</div>
